{delpackage beta}
{namespace soy.examples.delegates.beta autoescape="strict"}


/**
 * Delegate package 'beta' implementation of 'delegateBoo'.
 */
{deltemplate delegateBoo kind="text"}
  delegateBoo from delegate package beta.
{/deltemplate}
